{% extends 'navigation.html' %} {% load static %} {% block body %}
<div class="container">
  <h2 class="text-center text-primary font-weight-bold mt-5">About Us</h2>
  <div class="row mt-5">
    <div class="col-sm-4 text-center">
      <img
        src="{% static 'images/about-us.jpg' %}"
        width="300"
        height="200"
        class="img-responsive"
        alt="About Us - Gym Management System"
      />
    </div>
    <div class="col-sm-8 text-center mt-5">
      <b>
        Friends<br />
        This is a simple gym management project developed by Suraj using Python,
        Django, HTML, CSS, JavaScript, and Bootstrap.
      </b>
    </div>
  </div>
</div>
{% endblock %} {% block css %}
<style>
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
</style>
{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}
