{% extends 'navigation.html' %}
{% block body %}
<div class="container" style="margin-top: 60px;margin-bottom:150px;">
    <h3 class="text-center text-primary font-weight-bold">Add Member</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="contact"><b>Contact</b></label>
            <input type="tel" id="contact" name="contact" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="emailid"><b>Email Id</b></label>
            <input type="email" id="emailid" name="emailid" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="age"><b>Age</b></label>
            <input type="number" id="age" name="age" class="form-control" required>
        </div>
        <div class="form-group">
            <label><b>Gender</b></label><br>
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female" required>
            <label for="female">Female</label>
        </div>
        <div class="form-group">
            <label for="plan"><b>Plan Name</b></label>
            <select id="plan" name="plan" class="form-control" required>
                {% for i in plan %}
                <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="joindate"><b>Join Date</b></label>
            <input type="date" id="joindate" name="joindate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="expdate"><b>Expiry Date</b></label>
            <input type="date" id="expdate" name="expdate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="initialamount"><b>Initial Amount</b></label>
            <input type="number" id="initialamount" name="initialamount" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Inserted Successfully');
    window.location = "{% url 'view_member' %}";
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endif %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
