{% extends 'navigation.html' %}
{% load static %}
{% block css %}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
    display:flex;
    align-item:center;
    justify-content:center;
}
 .footer .container {
    padding: 0;
    margin:0;
    height:2px

  }
  .footer .row {
    margin: 0;
  }
  .footer .col-sm-6 {
    padding: 0;
  }
{% endblock %}
{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <p class="text-white">Copyright @2020 All rights reserved | 
                    </p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a  href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock%}